Source: furios-quirks
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/furilabs/furios-quirks
Vcs-Git: https://github.com/furilabs/furios-quirks.git

Package: furios-quirks-wayland
Architecture: all
Depends: ${misc:Depends}
Description: Various wayland tweaks
Conflicts: mobile-tweaks-common

Package: furios-quirks-remount-root-rw
Architecture: all
Depends: ${misc:Depends}
Description: Remount / as rw via (dirty) systemd unit.

Package: furios-quirks-writable-image
Architecture: all
Depends: ${misc:Depends}
Description: Dotfile required to mount rootfs as rw on halium based adaptations

Package: furios-quirks-full-resize
Architecture: all
Depends: ${misc:Depends}
Description: Dotfile required to resize the rootfs to the size of userdata

Package: furios-quirks-hybris-gl
Architecture: all
Depends: ${misc:Depends}
Description: Various quirks to make GL apps happy
 This package contains various quirks required to make some
 GL apps properly working.

Package: furios-quirks-qt-force-gles
Architecture: all
Depends: ${misc:Depends}
Description: Package pin for libqt5gui5 and libqt5quick5
 Disallow installation of libqt5gui5 and libqt5quick5, so that APT will fallback to libqt5gui5-gles and libqt5quick5-gles instead.

Package: furios-quirks-journald-standard
Architecture: all
Pre-Depends: systemd
Depends: ${misc:Depends}
Conflicts: furios-quirks-journald-development
Provides: furios-quirks-journald
Description: Journald configuration for standard FuriOS installations
 This package provides the journald configuration for standard
 (non-development) FuriOS installations.

Package: furios-quirks-journald-development  
Architecture: all
Pre-Depends: systemd
Depends: ${misc:Depends}
Conflicts: furios-quirks-journald-standard
Provides: furios-quirks-journald
Description: Journald configuration for development FuriOS installations
 This package provides the journald configuration for development
 FuriOS installations.

Package: furios-quirks-device
Architecture: all
Pre-Depends: systemd
Depends: ${misc:Depends},
         halium-wrappers,
Description: Various quirks to enable device features at boot
 This package provides various quirks to enable some device features (e.g
 WLAN). You can safely leave this package installed -- if there is nothing
 to enable, the unit files will be skipped.

Package: furios-quirks-tls-padding
Architecture: all
Depends: libtls-padding0,
         libfurios-workarounds
Description: Quirk to preload libtls-padding
 This package provides a quirk to allow preloading libtls-padding.

Package: furios-quirks-xtables-legacy
Architecture: all
Pre-Depends: iptables
Description: Quirk to set xtables-legacy as the default iptables implementation
 This package provides a quirk that sets xtables-legacy as the
 default iptables implementation.

Package: furios-quirks-initial-setup
Architecture: all
Pre-Depends: gnome-initial-setup, runonce
Depends: phosh-tour
Description: Quirk to configure the initial setup wizard
 This package provides a quirk that configures the initial
 setup wizard.

Package: furios-quirks-regenerate-ssh-keys
Architecture: all
Pre-Depends: openssh-server
Description: Quirk to regenerate host SSH keys at first boot
 This package provides a quirk that allows to regenerate
 host SSH keys at the first boot.

Package: furios-quirks-hostname
Architecture: all
Pre-Depends: runonce
Description: Quirk to set hostname at first boot
 This package provides a quirk that sets the device hostname
 at first boot.

Package: furios-quirks-keyring
Architecture: all
Pre-Depends: runonce,
             gnome-keyring
Description: Quirk to create a keyring at first boot
 This package provides a quirk that creates a keyring at
 first boot.

Package: furios-quirks-brightness
Architecture: all
Pre-Depends: runonce, systemd (>= 255)
Description: Quirk to bootstrap and properly save brightness level
 This package provides a quirk that bootstraps and makes systemd
 properly save the brightness level.

Package: furios-quirks-firefox
Architecture: all
Pre-Depends: firefox-esr | firefox
Description: Various quirks and FuriOS-specific settings for firefox
 This package provides various quirks and FuriOS-specific settings
 for Mozilla Firefox.

Package: furios-quirks-waydroid
Architecture: all
Description: Various quirks for the FuriOS flavour of Waydroid
 This package provides various quriks for the FuriOS flavour
 of Waydroid.

Package: furios-quirks-api28
Architecture: all
Depends: libgbinder
Description: Various generic quirks for API 28 (P) devices
 This package contains various generic quirks for adaptations
 based on Android API 28 (P).

Package: furios-quirks-api29
Architecture: all
Depends: libgbinder
Description: Various generic quirks for API 29 (Q) devices
 This package contains various generic quirks for adaptations
 based on Android API 29 (Q).

Package: furios-quirks-api30
Architecture: all
Depends: libgbinder
Description: Various generic quirks for API 30 (R) devices
 This package contains various generic quirks for adaptations
 based on Android API 30 (R).

Package: furios-quirks-api32
Architecture: all
Depends: libgbinder
Description: Various generic quirks for API 32 (R) devices
 This package contains various generic quirks for adaptations
 based on Android API 32 (R).

Package: furios-quirks-api33
Architecture: all
Depends: libgbinder
Description: Various generic quirks for API 33 (T) devices
 This package contains various generic quirks for adaptations
 based on Android API 33 (T).

Package: furios-quirks-pwquality
Architecture: all
Description: Quirk to loosen password quality requirements
 This package loosens password quality requirements

Package: furios-quirks-gnome
Architecture: all
Depends: ${misc:Depends}
Description: Various gnome variables

Package: furios-quirks-systemd
Architecture: all
Depends: ${misc:Depends}
Conflicts: mobian-tweaks-common
Description: Various systemd quirks

Package: furios-quirks-devtools
Architecture: all
Depends: ${misc:Depends}
Description: Devtools specific quirks for FuriOS
 This package contains some devtools-specific quirks for
 FuriOS installations.

Package: furios-quirks-polkit
Architecture: all
Depends: ${misc:Depends}
Description: Polkit policy to allow unprivileged access to phone components by furios user

Package: furios-quirks-vulkan
Architecture: all
Depends: ${misc:Depends}
Description: libhybris vulkan configure script on first startup
