#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --no-start --name=furios-wcnss-enable
	dh_installsystemd --no-start --name=furios-boot-wlan
	dh_installsystemd --no-start --name=furios-ipa-enable
	dh_installsystemd --no-start --name=furios-lmk-disable
	dh_installsystemd --no-start --name=furios-regenerate-ssh-keys
